.PurpleButton{
    border: 0.5px solid #514A7E;
    background: #514A7E;

    width: 109px;
    height: 26px;
    flex-shrink: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #FFFDF5;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
}